/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* A 'base partial' file that contains sass code that all files should inherit, such as @import statements (for importing Compass or other libraries) and global variables such as color values. 'Partial' files, beginning with an underscore, are not compiled into CSS files themselves, but are imported into other .scss files.  */
/* Fonts */
/* Fonts */
@font-face {
  font-family: 'sofia_prolight';
  src: url("../fonts/mostardesign_-_sofia_pro_light-webfont.eot");
  src: url("../fonts/mostardesign_-_sofia_pro_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mostardesign_-_sofia_pro_light-webfont.woff") format("woff"), url("../fonts/mostardesign_-_sofia_pro_light-webfont.ttf") format("truetype"), url("../fonts/mostardesign_-_sofia_pro_light-webfont.svg#sofia_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sofia_promedium';
  src: url("../fonts/mostardesign_-_sofia_pro_medium-webfont.eot");
  src: url("../fonts/mostardesign_-_sofia_pro_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/mostardesign_-_sofia_pro_medium-webfont.woff") format("woff"), url("../fonts/mostardesign_-_sofia_pro_medium-webfont.ttf") format("truetype"), url("../fonts/mostardesign_-_sofia_pro_medium-webfont.svg#sofia_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo100';
  src: url("../fonts/museo100-regular-webfont.eot");
  src: url("../fonts/museo100-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo100-regular-webfont.woff") format("woff"), url("../fonts/museo100-regular-webfont.ttf") format("truetype"), url("../fonts/museo100-regular-webfont.svg#museo100") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo300';
  src: url("../fonts/museo300-regular-webfont.eot");
  src: url("../fonts/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo300-regular-webfont.woff") format("woff"), url("../fonts/museo300-regular-webfont.ttf") format("truetype"), url("../fonts/museo300-regular-webfont.svg#museo300") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo500';
  src: url("../fonts/museo500-regular-webfont.eot");
  src: url("../fonts/museo500-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo500-regular-webfont.woff") format("woff"), url("../fonts/museo500-regular-webfont.ttf") format("truetype"), url("../fonts/museo500-regular-webfont.svg#museo500") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo700';
  src: url("../fonts/museo700-regular-webfont.eot");
  src: url("../fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo700-regular-webfont.woff") format("woff"), url("../fonts/museo700-regular-webfont.ttf") format("truetype"), url("../fonts/museo700-regular-webfont.svg#museo700") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo900';
  src: url("../fonts/museo900-regular-webfont.eot");
  src: url("../fonts/museo900-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo900-regular-webfont.woff") format("woff"), url("../fonts/museo900-regular-webfont.ttf") format("truetype"), url("../fonts/museo900-regular-webfont.svg#museo900") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Font Colors */
/* Responsive Layout */
/* line 33, ../sass/global.scss */
.form-item-catchspam {
  display: none;
}

/* line 37, ../sass/global.scss */
.ext-link-title {
  text-decoration: none;
}
/* line 39, ../sass/global.scss */
.ext-link-title:link, .ext-link-title:visited {
  text-decoration: none;
}
/* line 42, ../sass/global.scss */
.ext-link-title h3 {
  display: inline;
}

/* line 47, ../sass/global.scss */
.ext-link {
  background: url(../images/ext-link.png) no-repeat top left;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  display: inline-block;
}

/* line 55, ../sass/global.scss */
#contact-form-message-text {
  color: #FFF;
  padding: 5px;
  border: solid 1px red;
  font-size: 16px;
  background-color: red;
}

/* line 69, ../sass/global.scss */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 77, ../sass/global.scss */
span.field-content .views-field-field-partners-summary .field-content,
.tab-menu li .views-field-field-partners-summary .field-content,
#products span.field-content .views-field-field-partners-summary .field-content,
.view-about-partners .views-field-field-partners-summary .field-content {
  font-family: "sofia_prolight", Helvetica, Arial, sans-serif;
  font-size: 20px;
  max-width: 760px;
}
/* line 82, ../sass/global.scss */
span.field-content .views-field-body p,
.tab-menu li .views-field-body p,
#products span.field-content .views-field-body p,
.view-about-partners .views-field-body p {
  font-size: 14px;
  max-width: 900px;
}

/* line 92, ../sass/global.scss */
#intro-animation p,
#services .flexslider p,
#services p,
#products p {
  font-family: "sofia_prolight", Helvetica, Arial, sans-serif;
}

/* line 97, ../sass/global.scss */
.tab-menu li a.active {
  font-family: "sofia_promedium", Helvetica, Arial, sans-serif;
}

/* line 103, ../sass/global.scss */
#intro-animation h2 .fixed,
#intro-animation h2 .animate {
  font-family: "museo100", Helvetica, Arial, sans-serif;
}

/* line 108, ../sass/global.scss */
#services-content h3 {
  font-family: "museo300", Helvetica, Arial, sans-serif;
}
/* line 111, ../sass/global.scss */
#services-content .views-field-field-headline {
  font-family: "sofia_promedium", Helvetica, Arial, sans-serif;
}

/* line 121, ../sass/global.scss */
#services .flexslider h2,
#services-content h2,
#products h2,
#products-content h2,
#about h2 {
  font-family: "museo300", Helvetica, Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

/* line 129, ../sass/global.scss */
.key-staff-content .views-field-field-key-staff-name {
  font-family: "museo300", Helvetica, Arial, sans-serif;
}
/* line 132, ../sass/global.scss */
.key-staff-content .views-field-field-key-staff-position {
  font-family: "sofia_promedium", Helvetica, Arial, sans-serif;
}

/* line 137, ../sass/global.scss */
#menu li a {
  font-family: "museo500", Helvetica, Arial, sans-serif;
  text-shadow: #ededed 1px 1px 0;
}

/* line 143, ../sass/global.scss */
#case-studies,
#contact .footer a {
  color: #9c9c9c;
}

/* line 156, ../sass/global.scss */
.dark-gear,
#intro-animation h2,
#products,
#products-content,
#about,
#our-approach .views-field-body,
#case-studies h3,
#contact #edit-submit,
.view-about-partners .views-field-body,
.view-about-partners .views-field-field-partners-summary .field-content {
  color: #0e1317;
}

/* line 159, ../sass/global.scss */
#products-content a.close {
  color: #3bb2dd;
  font-size: 16px;
}

/* line 165, ../sass/global.scss */
#partners .views-field-nothing a,
#menu li a {
  color: #0e1317;
}

/* line 178, ../sass/global.scss */
#services a.button,
#services-content a.button,
#products a.button,
#case-studies a.button,
#news a.button,
#about-content a.button,
#news-content a.button,
.extra-content a.button {
  color: #0e1317;
}

/* line 193, ../sass/global.scss */
.hidden-content a.close,
.tab-menu li a.active,
.light-commerce,
.light-mobile,
#services-content,
#about-content,
#our-approach .views-field-title,
#news,
#news-content,
#news-content a,
#contact {
  color: white;
}

/* line 199, ../sass/global.scss */
#products a.button,
#case-studies a.button {
  color: white;
}

/* line 207, ../sass/global.scss */
.light-commerce h2,
.light-mobile h2,
#about h2 {
  color: white;
}

/* line 212, ../sass/global.scss */
.tab-menu li a {
  color: #99dff1;
}

/* line 217, ../sass/global.scss */
#menu li a.active,
#menu li a:active,
#contact .contact-info a {
  color: #00aedb;
}

/* line 225, ../sass/global.scss */
.dark-gear h2,
#products h2,
#case-studies h2,
#contact h2 {
  color: #00aedb;
}

/* Background Colors */
/* line 231, ../sass/global.scss */
#intro {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e7e7), color-stop(0%, #ffffff), color-stop(44%, #e7e7e7));
  background-image: -webkit-linear-gradient(#e7e7e7, #ffffff 0%, #e7e7e7 44%);
  background-image: -moz-linear-gradient(#e7e7e7, #ffffff 0%, #e7e7e7 44%);
  background-image: -o-linear-gradient(#e7e7e7, #ffffff 0%, #e7e7e7 44%);
  background-image: linear-gradient(#e7e7e7, #ffffff 0%, #e7e7e7 44%);
}

/* line 237, ../sass/global.scss */
#menu {
  background-color: #ededed;
}

/* line 243, ../sass/global.scss */
a.button,
#contact #edit-submit,
#key-staff .extra-content a.button {
  background-color: #ffd70c;
}

/* line 251, ../sass/global.scss */
#services-content,
#products a.button,
#about,
#about-content,
#case-studies a.button {
  background-color: #00aedb;
}

/* line 256, ../sass/global.scss */
#news,
#news-content {
  background-color: #0069aa;
}

/* line 263, ../sass/global.scss */
#services,
#products,
#products-content,
#partners .views-field-nothing a {
  background-color: white;
}

/* line 267, ../sass/global.scss */
#case-studies {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE7E7E7', endColorstr='#FFFFFFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciLz48c3RvcCBvZmZzZXQ9IjIyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(0%, #e7e7e7), color-stop(22%, #ffffff));
  background-image: -webkit-linear-gradient(#ffffff, #e7e7e7 0%, #ffffff 22%);
  background-image: -moz-linear-gradient(#ffffff, #e7e7e7 0%, #ffffff 22%);
  background-image: -o-linear-gradient(#ffffff, #e7e7e7 0%, #ffffff 22%);
  background-image: linear-gradient(#ffffff, #e7e7e7 0%, #ffffff 22%);
}

/* line 275, ../sass/global.scss */
#key-staff a.button,
#case-studies .inner,
#case-studies .flexslider {
  background-color: transparent;
}

/* line 279, ../sass/global.scss */
#contact {
  background-color: #0e1317;
}

/* Rounded Corners */
/* line 292, ../sass/global.scss */
#services a.button,
#services-content a.button,
#products a.button,
#case-studies a.button,
#news a.button,
#about-content a.button,
#news-content a.button,
.extra-content a.button {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

/* line 299, ../sass/global.scss */
#key-staff .views-row img,
.key-staff-content .field-content img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 305, ../sass/global.scss */
#partners .views-field-nothing a,
#contact .contact-info {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 312, ../sass/global.scss */
#contact input,
#contact textarea,
#contact select,
#contact #edit-submit {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* Columns */
/*
.hidden-content {
  .views-field-body,
  .views-field-field-key-staff-summary {
    @media screen and (min-width: 768px) and (max-width: 959px) {
      @include columns(2em 2);
    }
    @media screen and (min-width: 960px) {
      @include columns(2em 3); 
    }
  }
}

#news-content {
  .views-field-body {
    @include columns(1);
  }
}
*/
/* Global */
/* line 338, ../sass/global.scss */
body {
  font-size: 62.5%;
}

/* line 341, ../sass/global.scss */
body #page {
  max-width: none;
  min-width: none;
}

/* line 350, ../sass/global.scss */
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  letter-spacing: normal;
}

/* line 354, ../sass/global.scss */
body h2 {
  margin-bottom: 0;
}

/* line 358, ../sass/global.scss */
.panel-separator {
  clear: both;
}

/* line 362, ../sass/global.scss */
.grid-12 {
  margin: 0;
}

/* line 366, ../sass/global.scss */
h1.title {
  display: none;
}

/* line 370, ../sass/global.scss */
.hidden-content {
  clear: both;
}
/* line 372, ../sass/global.scss */
.hidden-content .views-row {
  display: none;
  font-size: 1.2em;
  line-height: 1.5;
  min-height: 515px;
  padding: 20px 5% 20px 5%;
}
@media screen and (min-width: 960px) {
  /* line 372, ../sass/global.scss */
  .hidden-content .views-row {
    /*margin: 0 9%;*/
  }
}
/* line 381, ../sass/global.scss */
.hidden-content .views-row a.close {
  background-image: url(../images/bg-close.png);
  background-position: right center;
  background-repeat: no-repeat;
  float: right;
  font-size: 16px;
  line-height: 17px;
  padding: 0 25px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
/* line 393, ../sass/global.scss */
.hidden-content .views-row ul {
  list-style: circle outside;
  margin: 0 0 20px 20px;
}
/* line 397, ../sass/global.scss */
.hidden-content .views-row ol {
  list-style: decimal outside;
  margin: 0 0 20px 20px;
}
/* line 401, ../sass/global.scss */
.hidden-content .views-row li {
  margin: 0 0 5px 0;
  list-style-type: disc;
}
/* line 405, ../sass/global.scss */
.hidden-content .views-row p {
  margin: 0 0 10px 0;
}

/* line 411, ../sass/global.scss */
.extra-content {
  clear: both;
  padding: 15px 0;
}
/* line 414, ../sass/global.scss */
.extra-content a.button {
  display: block;
  float: none !important;
  margin: 10px auto;
  text-align: center;
  width: 115px;
}
/* line 421, ../sass/global.scss */
.extra-content .hidden-content {
  display: none;
  font-size: 1.2em;
  line-height: 1.5;
  min-height: 515px;
  padding: 20px 5% 20px 5%;
}
/* line 427, ../sass/global.scss */
.extra-content .hidden-content .views-row {
  display: block;
  height: 160px;
  min-height: 160px;
  padding: 1%;
  width: 17% !important;
}
/* line 434, ../sass/global.scss */
.extra-content .hidden-content .extra-content-title {
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 36px;
  background: url(../images/white-border-bg.png) repeat-x bottom left;
}
/* line 443, ../sass/global.scss */
.extra-content .hidden-content a.close {
  background-image: url(../images/bg-close.png);
  background-position: right center;
  background-repeat: no-repeat;
  float: right;
  font-size: 16px;
  line-height: 17px;
  padding: 0 25px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

/* line 458, ../sass/global.scss */
.flex-nav-container {
  overflow: hidden;
  margin: 0;
}

/* line 462, ../sass/global.scss */
.flexslider {
  border: none;
  margin: 0;
  overflow: hidden;
}

/* line 467, ../sass/global.scss */
.flexslider_views_slideshow_slide {
  position: relative;
}

/* line 470, ../sass/global.scss */
.flexslider h2 {
  font-weight: normal;
}

/* line 473, ../sass/global.scss */
.flex-direction-nav {
  *height: 0;
}
@media screen and (max-width: 767px) {
  /* line 473, ../sass/global.scss */
  .flex-direction-nav {
    background-image: url(../images/icon-swipe.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    bottom: -4px;
    height: 36px;
    position: absolute;
    right: -4px;
    width: 36px;
  }
}
@media screen and (max-width: 767px) {
  /* line 485, ../sass/global.scss */
  .flex-direction-nav li {
    display: none;
  }
}
/* line 490, ../sass/global.scss */
.flex-direction-nav a {
  width: 55px;
  height: 55px;
  margin: -27px 0 0;
  display: block;
  background-image: url(../images/bg_direction_nav.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999px;
  opacity: 1;
  outline: none;
  -webkit-transition: all .3s ease;
}
/* line 507, ../sass/global.scss */
.flex-direction-nav a:focus {
  outline: none;
}
/* line 510, ../sass/global.scss */
.flex-direction-nav .flex-next {
  background-position: right 0;
  right: 2%;
}
/* line 514, ../sass/global.scss */
.flex-direction-nav .flex-prev {
  left: 2%;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 518, ../sass/global.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 2%;
  }
  /* line 522, ../sass/global.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 2%;
  }
}
/* line 527, ../sass/global.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0.3 !important;
  filter: alpha(opacity=30);
  cursor: default;
}

/* line 534, ../sass/global.scss */
.flexslider:hover .flex-next {
  opacity: 0.8;
  right: 2%;
}
/* line 538, ../sass/global.scss */
.flexslider:hover .flex-prev {
  opacity: 0.8;
  left: 2%;
}
/* line 543, ../sass/global.scss */
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 549, ../sass/global.scss */
.tab-menu li {
  background-image: url(../images/bg-tab-separator.png);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline;
  font-family: "sofia_prolight", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  margin: 0 10px 0 0;
  padding: 0 0 0 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  /* line 549, ../sass/global.scss */
  .tab-menu li {
    font-size: 1.2em;
  }
}
/* line 562, ../sass/global.scss */
.tab-menu li a {
  text-decoration: none;
}
/* line 565, ../sass/global.scss */
.tab-menu li a:hover {
  text-decoration: underline;
}
/* line 569, ../sass/global.scss */
.tab-menu li:first-child {
  background-image: none;
  padding: 0;
}

/* line 575, ../sass/global.scss */
.tab-panes {
  overflow: hidden;
}
/* line 577, ../sass/global.scss */
.tab-panes .tab-pane {
  display: none;
}
/* line 579, ../sass/global.scss */
.tab-panes .tab-pane h3:first-child {
  display: none;
}
/* line 583, ../sass/global.scss */
.tab-panes .tab-pane.active {
  display: block;
}

/* line 588, ../sass/global.scss */
#page a.button {
  background-repeat: no-repeat;
  float: left;
  font-size: 1.4em;
  line-height: 1;
  padding: 11px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "sofia_prolight", Helvetica, Arial, sans-serif;
}

/* line 601, ../sass/global.scss */
#services-content a.button,
#about-content a.button,
#news-content a.button {
  font-size: 1.2em;
  margin: 10px 0;
}

/* line 607, ../sass/global.scss */
#about-content .views-field-nothing,
#news-content .views-field-field-pdf {
  overflow: hidden;
}

/* Section Specific */
/* #intro */
/* line 614, ../sass/global.scss */
#intro {
  border-bottom: 1px solid #ededed;
  border-top: 4px solid #00aedb;
  padding: 0 5%;
  position: relative;
}

/* line 620, ../sass/global.scss */
#intro-animation {
  position: relative;
  top: 50%;
}

/* line 625, ../sass/global.scss */
#intro-animation .intro-banner {
  margin: 20px 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  /* line 628, ../sass/global.scss */
  #intro-animation .intro-banner img {
    display: none;
  }
}

/* line 635, ../sass/global.scss */
#intro-animation h2 {
  position: relative;
  width: 100%;
}

/* line 640, ../sass/global.scss */
#intro-animation h2 {
  font-size: 2em;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: 1.2;
}
@media screen and (max-width: 767px) {
  /* line 640, ../sass/global.scss */
  #intro-animation h2 {
    height: 3.5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 640, ../sass/global.scss */
  #intro-animation h2 {
    font-size: 3em;
  }
}
@media screen and (min-width: 960px) {
  /* line 640, ../sass/global.scss */
  #intro-animation h2 {
    font-size: 55px;
  }
}

/* line 656, ../sass/global.scss */
#intro-animation h2 .fixed {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 656, ../sass/global.scss */
  #intro-animation h2 .fixed {
    padding: 0 1% 0 0;
    text-align: left;
    width: 33%;
  }
}
@media screen and (min-width: 960px) {
  /* line 656, ../sass/global.scss */
  #intro-animation h2 .fixed {
    padding: 0 1% 0 0;
    text-align: left;
    width: 37%;
  }
}

/* line 669, ../sass/global.scss */
#intro-animation h2 .animate {
  border-bottom: 1px solid;
  cursor: pointer;
  display: block;
  height: auto;
  white-space: nowrap;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 669, ../sass/global.scss */
  #intro-animation h2 .animate {
    bottom: 0;
    position: absolute;
    left: 180px;
    /*width: 66%;*/
  }
}
@media screen and (min-width: 960px) {
  /* line 669, ../sass/global.scss */
  #intro-animation h2 .animate {
    bottom: 0;
    position: absolute;
    left: 350px;
    /*width: 62%;*/
  }
}

/* line 689, ../sass/global.scss */
#intro-animation h2 img {
  vertical-align: middle;
}

/* line 693, ../sass/global.scss */
#intro-animation h2 .green {
  border-color: #35acdd;
  color: #35acdd;
  /*@include text-shadow($darkblue 1px 1px);*/
}

/* line 698, ../sass/global.scss */
#intro-animation h2 .red {
  border-color: #35acdd;
  color: #35acdd;
  /*@include text-shadow($darkblue 1px 1px);*/
}

/* line 703, ../sass/global.scss */
#intro-animation h2 .blue {
  border-color: #35acdd;
  color: #35acdd;
  /*@include text-shadow($lightblue 1px 1px);*/
}

/* line 709, ../sass/global.scss */
#intro-animation p {
  font-size: 1.5em;
  line-height: 1.5;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 709, ../sass/global.scss */
  #intro-animation p {
    text-align: left;
    margin-top: 20px;
  }
}
@media screen and (min-width: 960px) {
  /* line 709, ../sass/global.scss */
  #intro-animation p {
    font-size: 30px;
    text-align: left;
    margin-top: 30px;
  }
}

/* #menu */
/* line 724, ../sass/global.scss */
#menu {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 724, ../sass/global.scss */
  #menu {
    max-height: 130px;
  }
}
@media screen and (min-width: 960px) {
  /* line 724, ../sass/global.scss */
  #menu {
    max-height: 130px;
  }
}
/* line 737, ../sass/global.scss */
#menu h1 {
  cursor: pointer;
  float: left;
  line-height: 1;
  margin: 10px;
  max-width: none;
  width: 115px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 737, ../sass/global.scss */
  #menu h1 {
    margin: 20px 0 20px 5%;
    max-width: 115px;
    width: 9%;
  }
}
@media screen and (min-width: 960px) {
  /* line 737, ../sass/global.scss */
  #menu h1 {
    margin: 30px 0 30px 5%;
    max-width: 115px;
    width: 9%;
  }
}
/* line 754, ../sass/global.scss */
#menu h1 img {
  display: block;
  width: 115px;
}
/* line 759, ../sass/global.scss */
#menu ul {
  float: right;
  height: 28px;
  margin: -13px 0 0 0;
  padding: 0;
  position: absolute;
  right: 5%;
  top: 50%;
}
@media screen and (max-width: 767px) {
  /* line 759, ../sass/global.scss */
  #menu ul {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  /* line 759, ../sass/global.scss */
  #menu ul {
    right: 14%;
  }
}
/* line 774, ../sass/global.scss */
#menu li {
  border-left: 1px solid #fff;
  border-right: 1px solid #d5d5d5;
  display: inline;
  float: left;
  font-size: 1.6em;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 774, ../sass/global.scss */
  #menu li {
    font-size: 1.2em;
    padding: 0 10px;
  }
}
/* line 787, ../sass/global.scss */
#menu li a {
  display: block;
  text-decoration: none;
}
/* line 792, ../sass/global.scss */
#menu li.first {
  border-left: none;
  padding-left: 0;
}
/* line 796, ../sass/global.scss */
#menu li.last {
  border-right: none;
  padding-right: 0;
}
/* line 800, ../sass/global.scss */
#menu select.mobile-nav {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 800, ../sass/global.scss */
  #menu select.mobile-nav {
    display: block;
    float: right;
    height: 52px;
    margin: -26px 0 0 0;
    position: absolute;
    right: 5%;
    top: 50%;
    width: 78px;
  }
}
/* line 813, ../sass/global.scss */
#menu .menu-select-button {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 813, ../sass/global.scss */
  #menu .menu-select-button {
    background-image: url(../images/bg-mobile-nav-button.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 52px;
    margin: -26px 0 0 0;
    position: absolute;
    right: 5%;
    top: 50%;
    width: 78px;
    z-index: 1;
  }
}

/* line 830, ../sass/global.scss */
#menu.menu-fixed {
  border-top: 4px solid #00aedb;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* #services */
/* line 840, ../sass/global.scss */
#services {
  padding: 0px;
  width: 100%;
}
/* line 843, ../sass/global.scss */
#services h2 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 843, ../sass/global.scss */
  #services h2 {
    font-size: 3.5em;
    font-weight: normal;
  }
}
@media screen and (min-width: 960px) {
  /* line 843, ../sass/global.scss */
  #services h2 {
    font-size: 36px;
    font-weight: normal;
  }
}
/* line 857, ../sass/global.scss */
#services p {
  font-size: 1.2em;
  line-height: 1;
  margin: 0 0 5px 0;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 857, ../sass/global.scss */
  #services p {
    font-size: 1.5em;
    margin: 30px 0 30px 0;
  }
}
@media screen and (min-width: 960px) {
  /* line 857, ../sass/global.scss */
  #services p {
    font-size: 20px;
    margin: 40px 0 40px 0;
  }
}
/* line 870, ../sass/global.scss */
#services a.button {
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  /* line 870, ../sass/global.scss */
  #services a.button {
    font-size: 1.1em;
  }
}

/* line 877, ../sass/global.scss */
#services .flexslider .views-field-nothing-1 {
  left: 0;
  padding: 0 5%;
  position: absolute;
  top: 5%;
  width: 90%;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 877, ../sass/global.scss */
  #services .flexslider .views-field-nothing-1 {
    left: 9%;
    padding: 0;
    top: 9%;
    width: 50%;
  }
}
@media screen and (min-width: 960px) {
  /* line 877, ../sass/global.scss */
  #services .flexslider .views-field-nothing-1 {
    left: 9%;
    padding: 0;
    top: 9%;
    width: 50%;
  }
}

/* line 897, ../sass/global.scss */
#services-content .views-row {
  overflow: hidden;
}
/* line 900, ../sass/global.scss */
#services-content .views-field-title {
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 36px;
  background: url(../images/white-border-bg.png) repeat-x bottom left;
}
/* line 910, ../sass/global.scss */
#services-content h2,
#services-content h3 {
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 910, ../sass/global.scss */
  #services-content h2,
  #services-content h3 {
    font-size: 1.4em;
  }
}
/* line 918, ../sass/global.scss */
#services-content .views-field-field-headline {
  font-size: 36px;
  line-height: normal;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  margin: 0 0 15px 0;
}
/* line 924, ../sass/global.scss */
#services-content .views-field-body .field-content {
  color: #0e1317;
}

@media screen and (max-width: 767px) {
  /* line 931, ../sass/global.scss */
  #services .light-commerce h2,
  #services .light-mobile h2 {
    /*@include text-shadow($black 1px 1px 0);*/
  }
  /* line 934, ../sass/global.scss */
  #services .light-commerce p,
  #services .light-mobile p {
    /*@include text-shadow($black 1px 1px 0);*/
  }
}

/* line 940, ../sass/global.scss */
#services .dark-gear h2 {
  /*@include text-shadow($black 1px 1px 0);*/
}
/* line 943, ../sass/global.scss */
#services .dark-gear p {
  /*@include text-shadow($white 1px 1px 0);*/
}

/* line 947, ../sass/global.scss */
#services .light-commerce a.button {
  background-image: url(../images/icon-commerce.png);
  background-position: 18px center;
  padding-left: 50px;
}

/* line 952, ../sass/global.scss */
#services .light-mobile a.button {
  background-image: url(../images/icon-mobile.png);
  background-position: 18px center;
  padding-left: 40px;
}

/* line 957, ../sass/global.scss */
#services .dark-gear a.button {
  background-image: url(../images/icon-gear.png);
  background-position: 12px center;
  border: 1px solid #c0c2c6;
  padding-left: 50px;
}

/* #products */
/* line 965, ../sass/global.scss */
#products {
  background-image: url(../images/bg-products.png);
  background-position: 25px 30px;
  background-repeat: no-repeat;
  min-height: 390px;
  padding: 20px 5% 20px 5%;
}
/* line 971, ../sass/global.scss */
#products h2 {
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 975, ../sass/global.scss */
#products p {
  font-size: 2em;
}
/* line 978, ../sass/global.scss */
#products .views-row {
  clear: both;
  overflow: hidden;
  padding: 0 0 30px 0;
}
@media screen and (max-width: 767px) {
  /* line 978, ../sass/global.scss */
  #products .views-row {
    padding: 0 0 15px 0;
  }
}
/* line 986, ../sass/global.scss */
#products .views-field-field-product-big-icon {
  float: left;
  margin: 0 30px 0 0;
}
@media screen and (max-width: 767px) {
  /* line 986, ../sass/global.scss */
  #products .views-field-field-product-big-icon {
    float: none;
    margin: 0 15px 0 0;
  }
}
/* line 993, ../sass/global.scss */
#products .views-field-field-product-big-icon img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 270px;
  width: 100%;
}
/* line 1001, ../sass/global.scss */
#products .views-field-title {
  font-size: 2em;
}
/* line 1004, ../sass/global.scss */
#products .views-field-field-product-summary {
  font-size: 12px;
}
/* line 1006, ../sass/global.scss */
#products .views-field-field-product-summary .field-content {
  color: #6a6a6a;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 925px;
}
/* line 1013, ../sass/global.scss */
#products a.button {
  margin: 10px 0 0 0;
}

/* line 1019, ../sass/global.scss */
#products-content a.close {
  background-image: url(../images/bg-close-dark.png);
  color: #3bb2dd;
}
/* line 1023, ../sass/global.scss */
#products-content .views-field-field-product-summary {
  display: none;
}
/* line 1026, ../sass/global.scss */
#products-content .views-field-title {
  font-weight: normal;
  margin-bottom: 40px;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  color: #00aedb;
  font-size: 36px;
  background: url(../images/blue-border-bg.png) repeat-x bottom left;
}
@media screen and (max-width: 767px) {
  /* line 1034, ../sass/global.scss */
  #products-content .views-field-body {
    max-width: 925px;
    padding-left: 390px;
  }
}
@media screen and (min-width: 960px) {
  /* line 1034, ../sass/global.scss */
  #products-content .views-field-body {
    max-width: 925px;
    padding-left: 390px;
  }
}
/* line 1044, ../sass/global.scss */
#products-content .views-field-field-product-big-icon {
  float: left;
  margin: 0 0 10px 10px;
}
@media screen and (max-width: 767px) {
  /* line 1044, ../sass/global.scss */
  #products-content .views-field-field-product-big-icon {
    float: none;
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 767px) {
  /* line 1051, ../sass/global.scss */
  #products-content .views-field-field-product-big-icon img {
    display: block;
    height: auto;
    width: 100%;
  }
}

/* #about */
/* line 1062, ../sass/global.scss */
#about {
  background-image: url(../images/bg-about.png);
  background-position: 25px 30px;
  background-repeat: no-repeat;
  min-height: 515px;
  padding: 20px 5% 20px 5%;
}
/* line 1068, ../sass/global.scss */
#about h2 {
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 20px;
}

/* line 1076, ../sass/global.scss */
#our-approach .views-row {
  padding: 0 0 15px 0;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1076, ../sass/global.scss */
  #our-approach .views-row {
    padding: 0 0 30px 0;
  }
}
@media screen and (min-width: 960px) {
  /* line 1076, ../sass/global.scss */
  #our-approach .views-row {
    float: left;
    padding: 0 0 30px 0;
    width: 50%;
  }
}
/* line 1087, ../sass/global.scss */
#our-approach .views-field-field-our-approach-icon {
  float: left;
  height: 60px;
  width: 60px;
}
/* line 1091, ../sass/global.scss */
#our-approach .views-field-field-our-approach-icon img {
  display: block;
  height: auto;
  width: 100%;
}
/* line 1097, ../sass/global.scss */
#our-approach .views-field-title {
  font-size: 1.6em;
  font-weight: normal;
  margin: 0;
  padding: 0 30px 0 90px;
}
@media screen and (max-width: 767px) {
  /* line 1097, ../sass/global.scss */
  #our-approach .views-field-title {
    line-height: 60px;
  }
}
/* line 1106, ../sass/global.scss */
#our-approach .views-field-body {
  font-size: 1.2em;
  line-height: 1.5;
  padding: 0 30px 0 90px;
  max-width: 360px;
}
@media screen and (max-width: 767px) {
  /* line 1106, ../sass/global.scss */
  #our-approach .views-field-body {
    clear: both;
    padding: 0;
  }
}

/* line 1119, ../sass/global.scss */
#key-staff .views-row {
  margin: 0 0 15px 0;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1119, ../sass/global.scss */
  #key-staff .views-row {
    float: left;
    margin: 0 1% 1% 0;
    width: 49%;
  }
}
@media screen and (min-width: 960px) {
  /* line 1119, ../sass/global.scss */
  #key-staff .views-row {
    float: left;
    margin: 0 1% 1% 0;
    width: 24%;
  }
}
/* line 1134, ../sass/global.scss */
#key-staff .views-field-nothing a.button {
  float: none;
  padding: 10px;
}
/* line 1138, ../sass/global.scss */
#key-staff .views-field-nothing img {
  display: block;
  height: auto;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  margin: 0 auto;
  max-width: 210px;
  width: 100%;
}
/* line 1147, ../sass/global.scss */
#key-staff .views-field-nothing img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
}
/* line 1152, ../sass/global.scss */
#key-staff .views-field-title {
  clear: both;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
/* line 1157, ../sass/global.scss */
#key-staff .views-field-field-key-staff-position {
  font-family: "sofia_prolight", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: normal;
}
/* line 1164, ../sass/global.scss */
#key-staff .extra-content .views-field-field-color-picture img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
/* line 1170, ../sass/global.scss */
#key-staff .extra-content .views-field-title {
  font-size: 14px;
}
/* line 1173, ../sass/global.scss */
#key-staff .extra-content .views-field-field-key-staff-position {
  font-size: 12px;
}

/* line 1179, ../sass/global.scss */
.key-staff-content .views-field-field-key-staff-name {
  font-size: 36px;
  padding-left: 320px;
}
/* line 1183, ../sass/global.scss */
.key-staff-content .views-field-field-key-staff-position {
  font-size: 1.2em;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 320px;
}
/* line 1190, ../sass/global.scss */
.key-staff-content .views-field-body {
  color: #0e1317;
  padding-left: 320px;
  max-width: 945px;
}
/* line 1195, ../sass/global.scss */
.key-staff-content .views-field-field-color-picture {
  float: left;
}
/* line 1199, ../sass/global.scss */
.key-staff-content .field-content img {
  max-width: 270px;
  width: 270px !important;
  height: 270px !important;
}
/* line 1205, ../sass/global.scss */
.key-staff-content .views-field-nothing {
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 36px;
  background: url(../images/white-border-bg.png) repeat-x bottom left;
}

/* line 1218, ../sass/global.scss */
#company-bio .company-bio-content p {
  font-size: 14px;
  margin: 0 0 10px 0;
  max-width: 900px;
}

/* line 1227, ../sass/global.scss */
#partners .views-row {
  margin: 0 0 15px 0;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1227, ../sass/global.scss */
  #partners .views-row {
    float: left;
    margin: 0 1% 1% 0;
    min-height: 200px;
    width: 49%;
  }
}
@media screen and (min-width: 960px) {
  /* line 1227, ../sass/global.scss */
  #partners .views-row {
    float: left;
    margin: 0 10px 10px 0;
    width: 229px;
  }
}
/* line 1243, ../sass/global.scss */
#partners .views-field-nothing a {
  display: block;
  float: none;
  font-size: 1em;
  padding: 30px 1%;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1243, ../sass/global.scss */
  #partners .views-field-nothing a {
    min-height: 250px;
  }
}
@media screen and (min-width: 960px) {
  /* line 1243, ../sass/global.scss */
  #partners .views-field-nothing a {
    min-height: 270px;
  }
}
/* line 1257, ../sass/global.scss */
#partners .views-field-nothing img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 268px;
}
/* line 1263, ../sass/global.scss */
#partners .views-field-nothing span {
  display: block;
}
/* line 1266, ../sass/global.scss */
#partners .views-field-nothing .views-field-title {
  font-size: 18px;
  line-height: normal;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  background: url(../images/grey-border-bg.png) repeat-x top left;
  margin: 20px 10px 5px 10px;
  padding-top: 20px;
}
/* line 1274, ../sass/global.scss */
#partners .views-field-nothing .views-field-slug {
  font-size: 1.4em;
  line-height: normal;
}

/* line 1281, ../sass/global.scss */
.partners-content .views-field-field-partners-image {
  clear: both;
}
/* line 1284, ../sass/global.scss */
.partners-content .views-field-field-partners-image .field-content img {
  float: left;
  margin-right: 20px;
}
/* line 1290, ../sass/global.scss */
.partners-content .views-field-title h2 {
  font-family: "museo300", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
}
/* line 1295, ../sass/global.scss */
.partners-content .views-field-field-partners-slug {
  display: none;
}
/* line 1298, ../sass/global.scss */
.partners-content .views-field-field-partners-summary {
  font-size: 1.4em;
}
/* line 1302, ../sass/global.scss */
.partners-content .view-about-partners .views-field-body {
  clear: both;
  padding: 30px 0;
}
/* line 1307, ../sass/global.scss */
.partners-content .views-field-nothing-1 {
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 36px;
  background: url(../images/white-border-bg.png) repeat-x bottom left;
}

/* #case-studies */
/* line 1320, ../sass/global.scss */
#case-studies .inner {
  background-image: url(../images/bg-case-studies.png);
  background-position: 25px 30px;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
/* line 1326, ../sass/global.scss */
#case-studies .inner h2 {
  font-family: "museo300", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  left: 5%;
  position: absolute;
  top: 4%;
  z-index: 10;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1326, ../sass/global.scss */
  #case-studies .inner h2 {
    font-size: 2.5em;
    left: 9%;
  }
}
@media screen and (min-width: 960px) {
  /* line 1326, ../sass/global.scss */
  #case-studies .inner h2 {
    font-size: 36px;
    left: 10%;
  }
}
/* line 1343, ../sass/global.scss */
#case-studies .inner .flexslider .views-field-nothing {
  font-family: Helvetica, Arial, sans-serif;
  left: 5%;
  position: absolute;
  top: 22%;
  width: 38%;
}
/* line 1349, ../sass/global.scss */
#case-studies .inner .flexslider .views-field-nothing ul {
  list-style: disc outside;
  margin: 0 0 20px 20px;
}
/* line 1353, ../sass/global.scss */
#case-studies .inner .flexslider .views-field-nothing ol {
  list-style: decimal outside;
  margin: 0 0 20px 20px;
}
/* line 1357, ../sass/global.scss */
#case-studies .inner .flexslider .views-field-nothing li {
  margin: 0 0 5px 0;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1357, ../sass/global.scss */
  #case-studies .inner .flexslider .views-field-nothing li {
    margin: 0;
  }
}
/* line 1362, ../sass/global.scss */
#case-studies .inner .flexslider .views-field-nothing li p {
  margin: 0;
}
@media screen and (max-width: 767px) {
  /* line 1367, ../sass/global.scss */
  #case-studies .inner .flexslider .views-field-nothing .field-content * {
    display: none;
  }
  /* line 1370, ../sass/global.scss */
  #case-studies .inner .flexslider .views-field-nothing h3:first-child {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1343, ../sass/global.scss */
  #case-studies .inner .flexslider .views-field-nothing {
    left: 9%;
    top: 12%;
    width: 40%;
  }
}
@media screen and (min-width: 960px) {
  /* line 1343, ../sass/global.scss */
  #case-studies .inner .flexslider .views-field-nothing {
    left: 10%;
    top: 12%;
    width: 38%;
  }
}
/* line 1384, ../sass/global.scss */
#case-studies .inner .flexslider .views-field-nothing h3:not(:first-child) {
  font-size: 1.4em;
}
/* line 1387, ../sass/global.scss */
#case-studies .inner .flexslider .views-field-nothing h3 {
  font-family: "museo500", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  margin: 0 0 10px 0;
}
/* line 1393, ../sass/global.scss */
#case-studies .inner .flexslider .views-field-nothing p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0 0 10px 0;
}
/* line 1399, ../sass/global.scss */
#case-studies .inner .flexslider .views-field-nothing li {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}
/* line 1405, ../sass/global.scss */
#case-studies .inner .flexslider a.button {
  bottom: 5%;
  left: 5%;
  position: absolute;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1405, ../sass/global.scss */
  #case-studies .inner .flexslider a.button {
    bottom: 30%;
  }
}
@media screen and (min-width: 960px) {
  /* line 1405, ../sass/global.scss */
  #case-studies .inner .flexslider a.button {
    bottom: 38%;
  }
}
/* line 1416, ../sass/global.scss */
#case-studies .inner .flexslider .item-list {
  font-family: Helvetica, Arial, sans-serif;
}
/* line 1418, ../sass/global.scss */
#case-studies .inner .flexslider .item-list ul {
  list-style: disc outside;
  margin: 0 0 20px 20px;
}
/* line 1422, ../sass/global.scss */
#case-studies .inner .flexslider .item-list ol {
  list-style: decimal outside;
  margin: 0 0 20px 20px;
}
/* line 1426, ../sass/global.scss */
#case-studies .inner .flexslider .item-list li {
  list-style: inherit;
  margin: 0 0 5px 0;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1426, ../sass/global.scss */
  #case-studies .inner .flexslider .item-list li {
    margin: 0;
  }
}
/* line 1433, ../sass/global.scss */
#case-studies .inner .flexslider .item-list p {
  margin: 0;
}
/* line 1439, ../sass/global.scss */
#case-studies .inner .flex-direction-nav a {
  background-image: url(../images/bg_direction_nav-dark.png);
}

/* #news */
/* line 1447, ../sass/global.scss */
#news {
  background-image: url(../images/bg-news.png);
  background-position: 25px 30px;
  background-repeat: no-repeat;
  min-height: 515px;
  padding: 20px 5% 20px 5%;
}
@media screen and (max-width: 767px) {
  /* line 1447, ../sass/global.scss */
  #news {
    min-height: 0;
  }
}
/* line 1456, ../sass/global.scss */
#news h2 {
  font-family: "museo300", Helvetica, Arial, sans-serif;
}
@media screen and (min-width: 960px) {
  /* line 1456, ../sass/global.scss */
  #news h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
}
/* line 1463, ../sass/global.scss */
#news .views-row {
  margin: 0 0 2em 0;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1463, ../sass/global.scss */
  #news .views-row {
    float: left;
    margin: 0 2% 0 0;
    width: 31%;
    max-width: 280px;
  }
}
@media screen and (min-width: 960px) {
  /* line 1463, ../sass/global.scss */
  #news .views-row {
    float: left;
    margin: 0 2% 0 0;
    width: 31%;
    max-width: 280px;
  }
}
/* line 1478, ../sass/global.scss */
#news .views-row .views-field-title {
  font-family: "museo500", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  margin: 0 0 10px 0;
}
/* line 1484, ../sass/global.scss */
#news .views-row .views-field-field-summary {
  font-size: 1.4em;
  min-height: 75px;
}
/* line 1488, ../sass/global.scss */
#news .views-row a.button {
  margin: 10px 0 0 0;
}

/* line 1494, ../sass/global.scss */
#news-content .views-field-title {
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 36px;
  background: url(../images/white-border-bg.png) repeat-x bottom left;
}
/* line 1504, ../sass/global.scss */
#news-content h2,
#news-content h3 {
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1504, ../sass/global.scss */
  #news-content h2,
  #news-content h3 {
    font-size: 1.4em;
  }
}

/* #contact */
/* line 1515, ../sass/global.scss */
#contact {
  background-image: url(../images/bg-contact.png);
  background-position: 25px 30px;
  background-repeat: no-repeat;
  min-height: 790px;
  padding: 20px 5% 20px 5%;
}
/* line 1521, ../sass/global.scss */
#contact h2 {
  font-family: "museo300", Helvetica, Arial, sans-serif;
  font-size: 36px;
}
/* line 1525, ../sass/global.scss */
#contact p {
  font-family: "sofia_prolight", Helvetica, Arial, sans-serif;
  font-size: 2em;
}
/* line 1529, ../sass/global.scss */
#contact .contact-info {
  background-image: url(../images/bg-contact-tile.png);
  background-position: 0 0;
  background-repeat: repeat;
  font-size: 1.4em;
  line-height: 1.5;
  padding: 25px 1%;
}
@media screen and (min-width: 960px) {
  /* line 1529, ../sass/global.scss */
  #contact .contact-info {
    float: right;
    width: 30%;
  }
}
/* line 1540, ../sass/global.scss */
#contact .contact-info h3 {
  font-family: "museo300", Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin: 0;
}
/* line 1545, ../sass/global.scss */
#contact .contact-info h4 {
  font-family: "sofia_promedium", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}
/* line 1550, ../sass/global.scss */
#contact .contact-info .email {
  border-top: 2px solid #0d1e25;
  border-bottom: 2px solid #0d1e25;
  margin: 15px 0;
  padding: 20px 0;
}
/* line 1557, ../sass/global.scss */
#contact .form-text {
  border: none;
  color: #46515a;
  font-size: 1.4em;
  height: 27px;
  width: 99%;
}
/* line 1564, ../sass/global.scss */
#contact .form-textarea {
  height: 132px;
}
/* line 1567, ../sass/global.scss */
#contact #edit-contact-left {
  float: left;
  margin: 0 2% 0 0;
  width: 48%;
}
@media screen and (max-width: 767px) {
  /* line 1567, ../sass/global.scss */
  #contact #edit-contact-left {
    float: none;
    margin: 0;
    width: auto;
  }
}
/* line 1577, ../sass/global.scss */
#contact #edit-contact-right {
  float: left;
  width: 50%;
}
@media screen and (max-width: 767px) {
  /* line 1577, ../sass/global.scss */
  #contact #edit-contact-right {
    float: none;
    width: auto;
  }
}
/* line 1585, ../sass/global.scss */
#contact form {
  width: 100%;
}
@media screen and (min-width: 960px) {
  /* line 1585, ../sass/global.scss */
  #contact form {
    width: 65%;
  }
}
/* line 1590, ../sass/global.scss */
#contact form label {
  font-family: "sofia_promedium", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
}
/* line 1595, ../sass/global.scss */
#contact .fancy-select-box {
  position: relative;
}
/* line 1597, ../sass/global.scss */
#contact .fancy-select-box select {
  height: 28px;
  position: relative;
  width: 100%;
  z-index: 10;
}
/* line 1603, ../sass/global.scss */
#contact .fancy-select-box .select {
  background-color: white;
  background-image: url(../images/select-arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #46515a;
  font-size: 1.4em;
  left: 0;
  height: 24px;
  line-height: 24px;
  padding: 2px 3px;
  position: absolute;
  top: 0;
  width: 99%;
  z-index: 1;
}
/* line 1621, ../sass/global.scss */
#contact #edit-submit {
  background: #ffd70c;
  border: none;
  color: #0e1317;
  float: right;
  font-family: "sofia_promedium", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  line-height: 1;
  padding: 12px 20px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
/* line 1634, ../sass/global.scss */
#contact .footer {
  clear: both;
  overflow: hidden;
  padding: 25px 0;
}
/* line 1638, ../sass/global.scss */
#contact .footer .copyright {
  float: left;
  font-family: "museo700", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
}
/* line 1642, ../sass/global.scss */
#contact .footer .copyright .button {
  background: transparent;
  color: #9c9c9c;
  float: none;
  font-size: 1em;
  font-family: "museo700", Helvetica, Arial, sans-serif;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  /* line 1638, ../sass/global.scss */
  #contact .footer .copyright {
    float: none;
    font-size: 1em;
    text-align: center;
  }
}
/* line 1658, ../sass/global.scss */
#contact .footer .social {
  float: right;
}
@media screen and (max-width: 767px) {
  /* line 1658, ../sass/global.scss */
  #contact .footer .social {
    float: none;
    margin: 20px auto;
    overflow: hidden;
    width: 93px;
  }
}
/* line 1666, ../sass/global.scss */
#contact .footer .social a {
  background-color: transparent;
  background-image: url(../images/icons-social.png);
  background-repeat: no-repeat;
  float: left;
  height: 20px;
  margin: 0 0 0 10px;
  text-indent: -9999px;
  width: 21px;
}
/* line 1676, ../sass/global.scss */
#contact .footer .social .facebook {
  background-position: 0 0;
}
/* line 1679, ../sass/global.scss */
#contact .footer .social .twitter {
  background-position: 0 -20px;
}
/* line 1682, ../sass/global.scss */
#contact .footer .social .linkedin {
  background-position: 0 -40px;
}

/* line 1688, ../sass/global.scss */
#contact-content {
  background: #0e1317;
  color: white;
}
/* line 1691, ../sass/global.scss */
#contact-content .views-field-title {
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: "museo300", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 36px;
  background: url(../images/white-border-bg.png) repeat-x bottom left;
}
/* line 1701, ../sass/global.scss */
#contact-content h2,
#contact-content h3 {
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1701, ../sass/global.scss */
  #contact-content h2,
  #contact-content h3 {
    font-size: 1.4em;
  }
}
/* line 1709, ../sass/global.scss */
#contact-content .views-field-body {
  font-size: 1.2em;
  max-width: 760px;
}
/* line 1712, ../sass/global.scss */
#contact-content .views-field-body h2 {
  font-size: 1.4em;
  margin: 20px 0 10px 0;
}
